* {
    background-color: rgb(243, 207, 179);
    font-family: Tahoma, sans-serif;
}

h1 {
    font-weight: 800px;
    color: rgb(124,38,41);
    font-size: 80px;
    text-align: center;
}

div {
    margin-left: 150px;
}

button {
    font-size: 20px;
    padding: 10px;
    margin-right: 20px;
    border-radius: 10px;
    display: inline-block;
    border-color: rgb(124,38,41);
}

img {
    height: 300px;
    width: 300px;
    border-radius: 10px;
    display: block;
    margin: 8px;
}